In [1]:
from datetime import datetime
import pandas as pd

In [11]:
df = pd.read_csv("signals_experiment_time/signals_8.csv")
#header=None, names=["TIME", "HR", "RESP", "ABPMean", "ABPSys", "ABPDias", "SpO2", "SOFA"]

In [12]:


df["TIME_"] = df["TIME"].apply(lambda x: datetime.strptime(x, '%H:%M:%S %d/%m/%Y'))

In [13]:
df = df.sort_values(by="TIME_")

In [15]:
df[["TIME", "HR", "RESP", "ABPMEAN", "ABPSYS", "ABPDIAS", "SPO2", "SOFA_SCORE"]].to_csv("signals_experiment_time/signals_8.csv", index=False)

In [14]:
df

,TIME,HR,ABPSYS,ABPDIAS,ABPMEAN,RESP,SPO2,SOFA_SCORE,TIME_
1857,11:29:11 01/06/2114,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2114-06-01 11:29:11
1858,11:30:11 01/06/2114,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2114-06-01 11:30:11
1859,11:31:11 01/06/2114,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2114-06-01 11:31:11
1860,11:32:11 01/06/2114,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2114-06-01 11:32:11
1861,11:33:11 01/06/2114,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,2114-06-01 11:33:11
...,...,...,...,...,...,...,...,...,...
7291,17:48:22 15/08/2185,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2185-08-15 17:48:22
7292,17:49:22 15/08/2185,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2185-08-15 17:49:22
7293,17:50:22 15/08/2185,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2185-08-15 17:50:22
7294,17:51:22 15/08/2185,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2185-08-15 17:51:22
7295,17:52:22 15/08/2185,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2185-08-15 17:52:22